# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [42]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [43]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [44]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [45]:
# Your code here
pokemon['Legendary'].value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [46]:
pokemon_leg = pokemon.groupby("Legendary").get_group(True).dropna()
pokemon_non_leg = pokemon.groupby("Legendary").get_group(False).dropna()
leg_mean = pokemon_leg['Total'].mean()
leg_std = pokemon_leg['Total'].std()
non_leg_mean = pokemon_non_leg['Total'].mean()
non_leg_std = pokemon_non_leg['Total'].std()
print(f"legendary mean: {leg_mean:.2f}, legendary std: {leg_std:.2f}, non legendary mean: {non_leg_mean:.2f}, non legendary std: {non_leg_std:.2f}")

legendary mean: 645.25, legendary std: 59.70, non legendary mean: 436.45, non legendary std: 107.59

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [47]:
import scipy.stats as sts # stats

# Perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(pokemon_leg["Total"], pokemon_non_leg["Total"], equal_var=False) 
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The total points for legendary and non legendary are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the total points are different for legendary and non legendary.")

Test Statistic (t): 19.06
P-Value: 0.0000

Reject the Null Hypothesis: There is sufficient evidence to conclude that the total points are different for legendary and non legendary.

What do you conclude from this test? Write your conclusions below.

In [48]:
# Your conclusions here:
# As the p value is below 0.05 we have enough evidence to reject the null hypothesis and to conclude that the total points are different for legendary and non legendary

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [49]:
pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
pk_water = pokemon[pokemon["Type 1"] == "Water"]
pk_other = pokemon[pokemon["Type 1"] != "Water"]

In [51]:
pk_other["Type 1"].value_counts()

Type 1
Normal      98
Grass       70
Bug         69
Psychic     57
Fire        52
Rock        44
Electric    44
Ground      32
Ghost       32
Dragon      32
Dark        31
Poison      28
Fighting    27
Steel       27
Ice         24
Fairy       17
Flying       4
Name: count, dtype: int64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [52]:
# Perform two-sample t-test for independent samples
t_stat, p_value = sts.ttest_ind(pk_water["Total"], pk_other["Total"], equal_var=True) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.4f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The total points for Pokemon Water and not Water Pokemen are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is sufficient evidence to conclude that the total points are different for for Pokemon Water and not Water Pokemen .")

Test Statistic (t): -0.44
P-Value: 0.6587

Fail to Reject the Null Hypothesis: The total points for Pokemon Water and not Water Pokemen are not significantly different.

Write your conclusion below.

In [53]:
# Your conclusions here:
print(f"As the P value is above our alpha threshold 0.05 we don't have enough evidence to reject the null hypothesis that Pokemon Water and the rest of Pokemon have significantly different points.")

As the P value is above our alpha threshold 0.05 we don't have enough evidence to reject the null hypothesis that Pokemon Water and the rest of Pokemon have significantly different points.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [54]:
# Perform paired t-test
t_stat, p_value = sts.ttest_rel(pokemon["Attack"], pokemon["Defense"])
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.10f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: No significant difference in defense and attack scores.")
else:
    print("Reject the Null Hypothesis: There is a significant difference in defense and attack scores.")

Test Statistic (t): 4.33
P-Value: 0.0000171403

Reject the Null Hypothesis: There is a significant difference in defense and attack scores.

Describe the results of the test in the cell below.

In [55]:
# Your conclusions here:
print(f"The p value is below our alpha threshold of 0,05. For this reason, we have enough evidence to reject the null hypothesis which says there is no significant difference in attack and defense scores.")

The p value is below our alpha threshold of 0,05. For this reason, we have enough evidence to reject the null hypothesis which says there is no significant difference in attack and defense scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [56]:
def cohen_d(group1, group2):
    mean1, mean2 = np.mean(group1), np.mean(group2)
    std1, std2 = np.std(group1, ddof=1), np.std(group2, ddof=1)
    n1, n2 = len(group1), len(group2)
    
    # Calculate pooled standard deviation
    pooled_std = np.sqrt(((n1 - 1) * std1**2 + (n2 - 1) * std2**2) / (n1 + n2 - 2))
    
    # Calculate Cohen's d
    d = (mean1 - mean2) / pooled_std
    return d

In [57]:
# the groups
group1 = pokemon["Attack"]
group2 = pokemon["Defense"]
# Calculate Cohen's d
d_value = cohen_d(group1, group2)
print(f"Cohen's d: {d_value:.2f}")

Cohen's d: 0.16

In [58]:
# Interpretation based on Cohen's d value
if d_value < 0.2:
    interpretation = "Very small effect"
elif 0.2 <= d_value < 0.5:
    interpretation = "Small effect"
elif 0.5 <= d_value < 0.8:
    interpretation = "Medium effect"
else:
    interpretation = "Large effect"

print(f"Effect Size Interpretation: {interpretation}")

Effect Size Interpretation: Very small effect

Describe the results of the test in the cell below.

In [59]:
# Your conclusions here:
print(f"While the p value lead us to the point that there is a significant difference between Attack and Defense, unfortunately the magnitude of the effect is very small")

While the p value lead us to the point that there is a significant difference between Attack and Defense, unfortunately the magnitude of the effect is very small

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
pokemon["Difference_D_A"] = pokemon["Defense"] - pokemon["Attack"]
t_stat, p_value = sts.ttest_1samp(pokemon["Difference_D_A"], 0)
# print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.8f}")
print()
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say the difference between the means is 0.")
else:
    print("Reject the Null Hypothesis: There is evidence to say the difference between the means is not 0.")

P-Value: 0.00001714

Reject the Null Hypothesis: There is evidence to say the difference between the means is not 0.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [71]:
pokemon['Type 1'] = pokemon['Type 1'].apply(lambda x: 'other' if x != 'Water' else 'Water')
result = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"] )
result

Type 1     Water  other
Legendary
False        108    627
True           4     61

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [76]:
from scipy.stats import chi2_contingency
# Chi-square test for 'Legendary' and 'Type 1 Water or Not'
_, chi2_pvalue, _, _ = chi2_contingency(result)
float(chi2_pvalue)

0.08625467249550997

In [77]:
# Check if the chi2_pvalue is smaller than 0.5
float(chi2_pvalue) < 0.05

False

Based on a 95% confidence, should we reject the null hypothesis?

In [78]:
print(f"Yes, we have enough evidence to reject the null hypothesis and assume a significant relationship between the variables")

Yes, we have enough evidence to reject the null hypothesis and assume a significant relationship between the variables